githubConfigUrl: "https://github.com/REPO_URL_WITHOUT_DOT_GIT"
githubConfigSecret:
  github_token: "GITHUB_PERSONAL_TOKEN"
maxRunners: 10
minRunners: 0
namespace: "arc-runners"
containerMode:
  type: "kubernetes"
  kubernetesModeWorkVolumeClaim:
    accessModes: ["ReadWriteOnce"]
    storageClassName: "standard"
    resources:
      requests:
        storage: 1Gi 
template:
  spec:
    containers:
    - name: runner
      image: copilot-agent-sample-runner:latest
      imagePullPolicy: Never
      command: ["/home/runner/run.sh"]
      env:
        - name: ACTIONS_RUNNER_CONTAINER_HOOKS
          value: /home/runner/k8s/index.js
        - name: ACTIONS_RUNNER_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
          value: "false"
      volumeMounts:
        - name: work
          mountPath: /home/runner/_work
    volumes:
      - name: work
        ephemeral:
          volumeClaimTemplate:
            spec:
              accessModes: [ "ReadWriteOnce" ]
              storageClassName: "standard"
              resources:
                requests:
                  storage: 1Gi
